.image-carousel__prev-btn,
.image-carousel__next-btn {
  position: absolute;
  transform: translateY(-50%);
  appearance: none;
  border: none;
  outline: none;
  width: 5%;
  aspect-ratio: 1 / 1;
  font-size: 1.5rem;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.15s ease-in-out;

  &:hover {
    background: rgba(0, 0, 0, 0.6);
  }
}

.image-carousel__prev-btn {
  top: 50%;
  transform: translateY(-50%);
  margin-left: 1.25rem;
}

.image-carousel__next-btn {
  top: 50%;
  right: 0;
  margin-right: 1.25rem;
}

.image-carousel__navigation-dots--container {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 1.25rem;
  gap: 5px;
  background: rgba(0, 0, 0, 0.2);
  padding: .5rem;
  border-radius: .5rem;

  .image-carousel__navigation-dot {
    width: 12px;
    aspect-ratio: 1 / 1;
    background: white;
    border-radius: 100%;
    cursor: pointer;

    &.active {
      background: #4CAF50;
    }
  }
}